.div-table
{
  display : table;
  width : auto;
  background-color: #EEEEEE;
  border : 1px solid #666666;
  border-spacing : 5px; /*cellspacing:poor IE support for this*/
  margin : 0 auto;
}
.div-table-row
{
  display : table-row;
  width : auto;
  clear : both;
  background-color: #CCCCCC;
}
.div-table-col-buttons
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 300px;
}
.div-table-col-label
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 260px;
}
.div-table-col-value
{
  float : left;/*fix for buggy browsers*/
  display : table-column;
  width : 110px;
  text-align : center;
  -webkit-touch-callout: none;
  -webkit-user-select : none;
  -khtml-user-select : none;
  -moz-user-select : none;
  -ms-user-select : none;
  user-select : none;
}
.div-table-col-input
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 150px;
}
.div-table-col-effect
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 300px;
}
.div-table-col-linklist
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 120px;
}
.div-table-col-textarea
{
  float : left;/*fix for buggy browsers*/
  display: table-column;
  width : 600px;
}
.column-heading
{
  font-weight: bold;
}
.input-editable
{
  width : 100px;
  text-align: right;
}
.input-readonly
{
  width : 100px;
  text-align : right;
  background-color: #EEEEEE
}
.textarea-save
{
  width: 600px;
  height: 60px;
  padding: 5px;
}
.centered-text
{
  text-align: center;
}